nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;

}
nav li
{
    margin-right: 15px;
}

.fichefruit{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.position_fruits{
    display: flex;
    justify-content: space-around;
}

#footer{
    background-color: #F2F2F2;
    margin: auto;
    max-width: 1440px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 3.8% 0 3.8%;
}
footer section{
    padding: 1em 1em;
    width: 30%;
}
footer section h2{
    margin-bottom: 10px;
    font-size: 1.2em;
}
footer section p{
    margin-top: 20px;
    cursor: pointer;
    width: fit-content;
}
footer section p:hover{
    border-bottom: 1px solid black;
}




